.P1{
display: flex;
flex-wrap: wrap;
top: 0px;
left: 0px;
width: 1560px;
height: 1970px;
background: #FAFAFA 0% 0% no-repeat padding-box;

opacity: 1;
}
.header{
    top: 0px;
left: 0px;
width: 1560px;
height: 80px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.m1{
    display: flex;
    justify-content: flex-start;
    height: 80px;
    width: 780px;
}
.m2{
    display: flex;
    position: relative;
    bottom: 80px;
    left: 780px;
    justify-content: flex-end;
    height: 80px;
    width: 780px;
}
/* .menubar{
position: relative;
top: 34px;
bottom: 34px;
left: 29px;
width: 18px;
height: 12px;
opacity: 1;
} */
.img1{
position: relative;
top: 34px;
bottom: 34px;
left: 29px;
width: 18px;
height: 12px;
opacity: 1;
}
.logo1{
    position: relative;
    left: 52px;
    top: 25px;
    width: 142px;
    height: 30px;
    opacity: 1;
}
.search{
    position: relative;
    top: 31.67px;
    left: 126.67px;
    width: 16px;
height: 16px;
opacity: 1;
}
.text{
    position: relative;
    left: 141.74px;
    top: 29.47px;
width: 49px;
height: 21px;
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.noti{
    position: relative;
    top: 28.28px;
    right: 132.28px;
    width: 22px;
    height: 21px;
    opacity: 1;
}
.noti1{
    width: 22px;
    height: 21px;
    opacity: 1;
}
.profile{
    position: relative;
    top: 18px;
    right: 80px;
width: 44px;
height: 44px;
opacity: 1;
}
.text1{
    position: relative;
    right: 60px;
    top: 27.97px;
width: 68px;
height: 21px;
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
font-size: 16px;
color: #000000;
opacity: 1;
}
.down{
    position: relative;
    top: 30.5px;
    right: 43.53px;
width: 10px;
height: 6px;
}
.wrapper .sidebar{
    
	background: #FFFFFF;
	position: absolute;
	top: 80px;
	left: 0;
	width: 242px;
	height: 1890;
	
}
/* .wrapper .sidebar{
	margin-bottom: 30px;
	text-align: center;
} */
.active{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 183px;
    height: 43px;
    margin-left: 29px;
    top: 35px;
}
.das{
    position: relative;
    margin-bottom: 1px;
width: 15px;
margin-left: 6px;
height: 15px;
opacity: 1;
}
.item{
    position: relative;
width: 78px;
height: 21px;
margin-left: 13px;
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.active2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 183px;
    height: 43px;
    margin-left: 29px;
    top: 39px;
    background: #FFF3F4 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.analysis{
    position: relative;
    width: 19px;
    height: 18px;
margin-left: 6px;
opacity: 1;
}
.item2{
    position: relative;
    width: 60px;
height: 21px;
margin-left: 13px;
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
}
.active3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 183px;
    height: 43px;
    margin-left: 29px;
    top: 43px;
}
.inb{
    position: relative;
    margin-left: 6px;
    opacity: 1;
    width: 15px;
height: 15px;
}
.item3{
    position: relative;
    margin-left: 13px;
    text-align: left;
font: normal normal normal 16px/21px Roboto;
opacity: 1;
width: 39px;
height: 21px;
}
.active4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 183px;
    height: 43px;
    margin-left: 29px;
    top: 47px;
}
.his{
    position: relative;
    margin-left: 6px;
    opacity: 1;
    width: 16px;
height: 16px;
}
.item4{
    position: relative;
    margin-left: 13px;
    text-align: left;
font: normal normal normal 16px/21px Roboto;
opacity: 1;
width: 51px;
height: 21px;
}
.active5{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 183px;
    height: 43px;
    margin-left: 29px;
    top: 51px;
}
.use{
    position: relative;
    margin-left: 6px;
    opacity: 1;
    width: 16px;
height: 16px;
}
.item5{
    position: relative;
    margin-left: 13px;
    text-align: left;
font: normal normal normal 16px/21px Roboto;
opacity: 1;
width: 41px;
height: 21px; 
}
.active6{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 183px;
    height: 43px;
    margin-left: 29px;
    top: 55px;
}
.mai{
    position: relative;
    margin-left: 6px;
    opacity: 1;
    width: 16px;
height: 18px;
}
.item6{
    position: relative;
    margin-left: 13px;
    text-align: left;
font: normal normal normal 16px/21px Roboto;
opacity: 1;
width: 92px;
height: 21px;  
}
.active7{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 183px;
    height: 43px;
    margin-left: 29px;
    top: 59px; 
}
.set{
    position: relative;
    margin-left: 6px;
    opacity: 1;
    width: 17px;
height: 17px;
}
.item7{
    position: relative;
    margin-left: 13px;
    text-align: left;
font: normal normal normal 16px/21px Roboto;
opacity: 1;
width: 50px;
height: 21px;
}
.k1{
    position: absolute;
    top: 80px;
    left: 242px;
    width: 1318px;
    height: 1890px;
}
.pa1{
    width: 113px;
height: 39px;
font-size: 30px;
margin-top: 41px;
margin-left: 48px;
text-align: left;
font: normal normal medium 30px/39px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.k2{
    position: absolute;
    margin-top: 23px;
    margin-left: 48px;
    width: 1218px;
height: 1749px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.pa2{
    margin-top: 23px;
    margin-left: 29px;
    width: 121px;
height: 29px;
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
font-size: 20px;
}
.pa3{
    margin-top: 15px;
    margin-left: 31px;
    width: 1157px;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}
#dropdown{
    margin-top: 21px;
    margin-left: 31px;
    width: 1157px;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}
.pa4{
    margin-top: 20px;
    margin-left: 31px;
    width: 1157px;
height: 130px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}
.pa5{
    margin-top: 44px;
    margin-left: 29px;
    width: 121px;
    height: 29px;
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    font-size: 20px;
}
.pa6{
    margin-top: 16px;
    margin-left: 31px;
    width: 563px;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}
.pa7{
    margin-top: 20px;
    margin-left: 31px;
    width: 563px;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}
fieldset{
    display: inline;
    position: relative;
    top: 16px;
    left: 30px;
    width: 564px;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;

opacity: 1;
}
.w-auto{
    position: relative;
    width: 54px;
    
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.pa8{
    position: relative;
    text-align: left;
    left: 8px;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
font-size: 15px;
bottom: 8px;
opacity: 1;
}
#dropdown1{
    margin-top: 21px;
    margin-left: 31px;
    width: 563px;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}
.pa9{
    margin-top: 44px;
    margin-left: 29px;
    width: 123px;
height: 29px;
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
font-size: 18px;
}
#f1{
    position: relative;
   
    width: 364px;
height: 47px;
border: 1px solid;
border-radius: 5px;
border-color: #C8242F;
opacity: 1;
}
#f2{
    
width: 32px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
font-size: 12px;
color: #ADADAD;
opacity: 1;
}
.pa10{
    position: relative;
    bottom: 15px;
    left: 10px;
}
#f3{
    width: 365px;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
margin-left: 32px;
}
.pa11{
    position: relative;
    bottom: 75px;
    left: 8px;
    font-size: 70px;
}
#f4{
    width: 53px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
font-size: 12px;
}
.pa12{
    position: relative;
bottom: 13px;
left: 8px;
}
#f5{
    width: 365px;
height: 47px;
border: 1px dashed #ADADAD;
border-radius: 5px;
border-style: dashed;
opacity: 1;
margin-left: 31px;
}
.pa13{
    margin-top: 47px;
    margin-left: 29px;
    width: 126px;
height: 29px;
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
font-size: 20px;
}
#f7{
    width: 266px;
height: 47px;
border: 1px solid #FF3C3C;
border-radius: 5px;
opacity: 1;
}
#f8{
    width: 64px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #FF3B3B;
opacity: 1;
}
.pa14{
    position: relative;
bottom: 13px;
left: 8px; 
}
.pa15{
    width: 266px;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
margin-left: 60px;
}
.pa16{
    position: relative;
bottom: 13px;
left: 8px; 
}
#f10{
    width: 54px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
#f9{
    width: 266px;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}
#dropdown2{
    width: 266px;
height: 49px;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
margin-left: 60px;
}
.p17{
    margin-top: 10px;
    margin-left: 47px;
    width: 84px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #FF3B3B;
opacity: 1;
}
.p18{
    position: relative;
   
    margin-left: 342px;
    bottom: 32px;
    width: 158px;
height: 16px;

text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.p19{
    position: relative;
    display: inline;
   bottom: 30px;
    margin-left: 29px;
    width: 225px;
height: 29px;
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
font-size: 22px;
color: #3E3E3E;
opacity: 1;
}
.p20{
    position: relative;
   bottom: 17px;
    font-size: 16px;
    width: 90px;
height: 24px;
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
margin-left: 29px;
}
.p21{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 124px;
height: 36px;
border: 1px solid #C8242F;
border-radius: 18px;
opacity: 1;
margin-top: 16px;
margin-left: 30px;
}
.p22{
    display: flex;
    justify-content: center;
    height: 16px;
    position: relative;
    margin-top: 1px;
    margin-left: 17px;
}
.p23{
    position: relative;
    height: 16px;
    margin-left: 10px;
    margin-top: 6px;
    color: #C8242F;
}
.p24{
    position: relative;
    bottom: 27px;
    margin-left: 173px;
    width: 91px;
height: 16px;
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.p25{
    position: relative;
    width: 104px;
height: 24px;
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
margin-left: 29px;
}
.p26{
    margin-left: 31px;
}
.p27{
    margin-left: 39px;
}
.p28{
    width: 79px;
height: 24px;
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
margin-top: 34px;
margin-left: 29px;
}
.p29{
    margin-left: 31px;
}
.p30{
    margin-left: 39px;
}
.p31{
    
    margin-top: 35px;
    margin-left: 29px;
    width: 76px;
height: 24px;
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.text-danger{
    display: flex;
    float: left;
    justify-content: flex-start;
    align-items: center;
    margin-left: 28.5px;
    width: 563px;
height: 44px;
border: 1px solid #FF3535;
border-radius: 5px;
opacity: 1;

}
.p32{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.text-info{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 563px;
height: 44px;
border: 1px solid #00B9E1;
border-radius: 5px;
opacity: 1;
margin-left: 33px;
}
.p33{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.text-warning{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: left;
    width: 563px;
height: 44px;
margin-left: 29px;
width: 563px;
height: 44px;
border: 1px solid #FFA800;
border-radius: 5px;
opacity: 1;
}
.p34{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.text-success{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 563px;
height: 44px;
margin-left: 33px;
width: 563px;
height: 44px;
border: 1px solid #00AF27;
border-radius: 5px;
opacity: 1;
}
.p35{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.p36{
    margin-top: 34.15px;
    margin-left: 29px;
    width: 106px;
height: 24px;
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.p37{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 30px;
    width: 124px;
height: 45px;
background: #C8242F 0% 0% no-repeat padding-box;
border-radius: 23px;
opacity: 1;
}
.p38{
    width: 63px;
height: 24px;
margin-top: 9.65px;
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.p39{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 145px;
height: 44px;
border: 1px solid #C8242F;
border-radius: 22px;
opacity: 1;
margin-left: 20.5px;
}
.p40{
    width: 63px;
height: 24px;
margin-top: 9.65px;
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
}
.p41{
    margin-top: 34.65px;
    margin-left: 29px;
    width: 39px;
height: 24px;
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    font: normal normal medium 15px/20px Roboto;
    margin-left: 30px;
}
.p42{
    display: none;
}
.p43{
    padding: 10px 16px;
    cursor: pointer;
}
.p44{
    order: 1;
    /* width: 100%;
    line-height: 1.5;
    font-size: 0.9em; */
    display: none;
    width: 1119px;
height: 68px;
text-align: left;
font: normal normal normal 15px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.p42:checked+.p43{
    font-weight: bold;
    color: #C8242F;
    border-bottom: 3px solid #C8242F;
}
.p42:checked+.p43+.p44{
    display: initial;
}
@media(max-width:400px){
    .p1{
        width: 50%;
    }
}